// Mixins Here

.homeTitle {
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    margin-top: 2%;
}


.aStyle {
    justify-content: space-between;
    padding: 2%;
    text-decoration: none;
    margin-bottom: 2%;
}